<!-- <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="15" class="left-pane">
        <div class="app-title">
            LEARN WITH ME
        </div>
        <div class="profile-photo">
            <img src="https://pbs.twimg.com/profile_images/820428516332359682/hs2jYkPo_bigger.jpg" />
        </div>
        <div>
            Hello, Andrew Anderson
        </div>
    </div>

    <div fxFlex="85" class="right-pane" fxLayout="row wrap" fxLayoutAlign="center start">
        <mat-form-field fxFlex="95" floatLabel="never">
            <button mat-icon-button matPrefix>
                <mat-icon>search</mat-icon>
            </button>
            <input matInput placeholder="Search courses, events, or challenges">
        </mat-form-field>
        <div class="results" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <mat-card fxFlex="25">Simple card</mat-card>
        </div>
    </div>
</div>

<button (click)="signOut()">Sign Out</button> -->

<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
        <div class="title">
            <p>learn with me.</p>
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item (click)="subPage = 'courses'">
                <span>
                    <i class="anticon anticon-book"></i>
                    <span class="nav-text">Learning Paths</span>
                </span>
            </li>
            <li nz-menu-item (click)="subPage = 'calendar'">
                <span>
                    <i class="anticon anticon-calendar"></i>
                    <span class="nav-text">Events</span>
                </span>
            </li>
            <li nz-submenu  (click)="showModal()">
                <span title>
                    <i class="anticon anticon-smile-o"></i>
                    <span class="nav-text">Find Me a Mentor!</span>
                </span>
            </li>
            <li nz-menu-item>
                <span>
                    <i class="anticon anticon-file"></i>
                    <span class="nav-text">News</span>
                </span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        </nz-header>
        <nz-content style="" *ngIf="subPage === 'courses'" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
                <nz-modal [(nzVisible)]="isVisible" nzTitle="Congrats You've Been Paired with Jason!" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                        <p>Content one</p>
                        <p>Content two</p>
                        <p>Content three</p>
                      </nz-modal>
            <nz-card fxFlex="275px" class="hoverable" style="margin-top: 8px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting,actionEdit,actionEllipsis]"
                *ngFor="let course of courses">
                <nz-card-meta nzTitle={{course.title}} nzDescription={{course.description}} [nzAvatar]="avatarTemplate"></nz-card-meta>
                <ng-template #avatarTemplate>
                    <nz-avatar nzSrc={{course.avatar}} ></nz-avatar>
                </ng-template>
                <ng-template #coverTemplate>
                    <img alt="example" src={{course.url}} />
                </ng-template>
                <ng-template #actionSetting>
                    <i class="anticon anticon-video-" (click)="testScreenShare()"></i>
                </ng-template>
                <ng-template #actionEdit>
                    <i class="anticon anticon-edit"></i>
                </ng-template>
                <ng-template #actionEllipsis>
                    <i class="anticon anticon-ellipsis"></i>
                </ng-template>
            </nz-card>
        </nz-content>

        <nz-content style="margin:0 16px;" *ngIf="subPage === 'calendar'">
            <nz-calendar [(ngModel)]="date" [(nzMode)]="mode">
                    <ul *nzDateCell="let date" class="events">
                            <ng-container [ngSwitch]="date.getDate()">
                              <ng-container *ngSwitchCase="8">
                                <li *ngFor="let item of listDataMap.eight">
                                  <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                                </li>
                              </ng-container>
                              <ng-container *ngSwitchCase="11">
                                    <li *ngFor="let item of listDataMap.eleven">
                                      <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                                    </li>
                                  </ng-container>
                              </ng-container>
                            </ul>
                            <ng-container *nzMonthCell="let month">
                                    <div *ngIf="getMonthData(month) as monthData" class="notes-month">
                                      <section>{{ monthData }}</section>
                                      <span>Backlog number</span>
                                    </div>
                                  </ng-container>
            </nz-calendar>
        </nz-content>
    </nz-layout>
</nz-layout>
<ng-template #trigger>
    <i class="anticon anticon-up"></i>
</ng-template>